.status {
    margin: 8px 0;
    border: solid darkgrey 1px;
    border-radius: 8px;
    padding: 5px;
    background: whitesmoke;
    width: 42vw;
    max-width: 600px;
}

.status span {
    font-size: 1rem;
    font-family: "Bookman Old Style";
    cursor: pointer;
}
.status input {
    width: 35.8vw;
    height: 25px;
    border-radius: 6px;
    border: solid darkgrey 1px;
}
@media (max-width: 1200px) {
    .status {
        width: 38.5vw;
    }
}

@media (max-width: 992px) {
    .status {
        width: 36vw;
    }
}

@media (max-width: 767px) {
    .status {
        width: 80vw;
    }
}
